body {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px; background: rgb(2,0,36);
    background: linear-gradient(58deg, rgba(2,0,36,1) 0%, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 0%, rgba(170,98,43,1) 25%, rgba(26,206,209,1) 76%, rgba(0,0,0,1) 100%); 
}
#sizeButtons,
#colorButtons {
    display: flex;
    flex-direction: row;
    gap: 15px;
}
#container { 
    width: 425px;
    height: 425px;
    display: grid;
    background-color: white;
}

.box { 
    box-sizing: border-box;
}

/*#gridSize { 
    border: 1px solid gray;
    background-color: rgb(223, 221, 221);
    width: 111px;
    height: 111px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5%;
    font-size: 18px;
    border-top: 2px solid rgb(223, 221, 221);
    border-left: 2px solid rgb(223, 221, 221);
}

#gridSize:hover {
    background-color: #807E78;
    border-radius: 0%;
}*/

button {
    height: 60px;
    width: 88px;
    font-size: 18px;
    
}
button:hover { 
    background-color: #807E78;
}

h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 100%;
    margin: 5px;
    padding: 10px;
    display: flex;
    align-content: center;
    justify-content: center;
    color:  white;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 0%, rgba(209,26,26,1) 25%, rgba(254,0,0,1) 50%, rgba(209,26,26,1) 75%, rgba(0,0,0,1) 100%);
}


footer{
    font-size: 25px;
    bottom: 0;
    justify-content: center;
    padding-top: 55px;
    padding-bottom: 55px;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    text-decoration: underline;
}

#gh-logo{
    width: 35px;
    height: 35px;
    margin-bottom: -9px;
    margin-right: 10px;
}